<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="DetailedLocalOnly" />
    </system.webServer>
</configuration>

<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <httpRuntime enableVersionHeader="false" />
  </system.web>
  <system.webServer>
    		<httpProtocol>
				  <customHeaders>
					  <remove name="X-Powered-By" />
					  <add name="X-XSS-Protection" value="1;mode=block" />
					  <add name="X-Content-Type-Options" value="nosniff" />
					  <add name="Content-Security-Policy" value="img-src 'self' data: blob: https:; font-src 'self' https://maxcdn.bootstrapcdn.com/bootstrap/; media-src 'self'; connect-src 'self'; object-src 'none'; style-src 'self' 'unsafe-inline' https://maxcdn.bootstrapcdn.com/bootstrap/; frame-ancestors 'self' https://www.bancosecurity.cl/ https://samf-bsec.indexa.cl; frame-src 'self' https://www.bancosecurity.cl/ https://samf-bsec.indexa.cl" />
				  </customHeaders>
			  </httpProtocol>
			  <rewrite>
				  <outboundRules>
					  <rule name="Ensure httpOnly Cookies" preCondition="Missing httpOnly cookie">
						  <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
						  <action type="Rewrite" value="{R:0}; HttpOnly" />
					  </rule>
					  <rule name="Ensure secure Cookies" preCondition="Missing secure cookie">
						  <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" />
						  <action type="Rewrite" value="{R:0}; secure" />
					  </rule>
					  <rule name="Ensure samesite Cookies" preCondition="Missing samesite cookie">
						  <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" />
						  <action type="Rewrite" value="{R:0}; samesite=none" />
					  </rule>
					  <rule name="Remove Server">
						  <match serverVariable="RESPONSE_SERVER" pattern=".*" />
						  <action type="Rewrite" />
					  </rule>
					  <preConditions>
						  <preCondition name="Missing httpOnly cookie">
							  <add input="{RESPONSE_Set_Cookie}" pattern="." />
							  <add input="{RESPONSE_Set_Cookie}" pattern="; HttpOnly" negate="true" />
						  </preCondition>
						  <preCondition name="Missing secure cookie">
							  <add input="{RESPONSE_Set_Cookie}" pattern="." />
							  <add input="{RESPONSE_Set_Cookie}" pattern="; secure" negate="true" />
						  </preCondition>
						  <preCondition name="Missing samesite cookie">
							  <add input="{RESPONSE_Set_Cookie}" pattern="." />
							  <add input="{RESPONSE_Set_Cookie}" pattern="; samesite" negate="true" />
						  </preCondition>
					  </preConditions>
				  </outboundRules>
			  </rewrite>
			  <security>
				  <requestFiltering>
					  <verbs>	
						  <add verb="OPTIONS" allowed="false" />
						  <add verb="PUT" allowed="false" />
						  <add verb="DELETE" allowed="false" />
						  <add verb="CONNECT" allowed="false" />
						  <add verb="TRACE" allowed="false" />
						  <add verb="HEAD" allowed="false" />
					  </verbs>
				  </requestFiltering>
		    </security>
    </system.webServer>
</configuration>
